@page "/"

<Button OnClick="e => ModalSm = true">Small</Button>
<Button OnClick="e => ModalLg = true">Large</Button>
<Button OnClick="e => ModalXl = true">Extra Large</Button>

<!--Modal result-->
<br/><br/>
<span>Small Dialog was opened @CountSm times.</span><br/>
<span>Large Dialog was opened @CountLg times.</span><br/>

<!--Modals-->
<Modal Open="ModalMd">
    <ModalTitle>Default Modal</ModalTitle>
    <ModalBody><p>This is the default modal size...</p></ModalBody>
    <ModalFooter>
        <Button Variant="Outline" OnClick="e => ModalMd = false">Cancel</Button>
        <Button Variant="Primary" OnClick="e => ModalMd = false">Ok</Button>
    </ModalFooter>
</Modal>

<Modal Open="ModalSm" Size="ModalSize.Small" OpenChanged="(open) => { if (open) { CountSm++; }}">
    <ModalTitle>Small Modal</ModalTitle>
    <ModalBody><p>I am a small modal...</p></ModalBody>
    <ModalFooter>
        <Button Variant="Outline" OnClick="e => ModalSm = false">Cancel</Button>
        <Button Variant="Primary" OnClick="e => ModalSm = false">Ok</Button>
    </ModalFooter>
</Modal>


<Modal Open="ModalXl" Size="ModalSize.ExtraLarge">
    <ModalTitle>Extra Large Modal</ModalTitle>
    <ModalBody><p>I am an Extra large modal...</p></ModalBody>
    <ModalFooter>
        <Button Variant="Outline" OnClick="e => ModalXl = false">Cancel</Button>
        <Button Variant="Primary" OnClick="e => ModalXl = false">Ok</Button>
    </ModalFooter>
</Modal>

@code {
    private bool m_modalLg = false;

    public int CountSm { get; set; } = 0;
    public int CountLg { get; set; } = 0;

    [Parameter]
    public bool ModalMd { get; set; }

    [Parameter]
    public bool ModalSm { get; set; }

    [Parameter]
    public bool ModalLg {
        get { return m_modalLg; }
        set
        {
            m_modalLg = value;
            if (m_modalLg)
            {
                CountLg++;
            }
        }
    }

    [Parameter]
    public bool ModalXl { get; set; }
}
         