@page "/add"
@inject NavigationManager navMn
@inject HttpClient client
@using Newtonsoft.Json;
@using System.Text.Json.Serialization;
@using TaskBlazor.Models
@using System.Net

<center>
    <h3>New Task</h3>
</center>

<center>
    <EditForm Model="taskModel">
        <DataAnnotationsValidator />
        <div>
            <label for="Title" class="form-label">Title</label>
            <InputText @bind-Value="taskModel.Title" class="form-control" style="width:40%;"></InputText>
            <ValidationMessage For="() => taskModel.Title" /><br />
            <label for="Desciption" class="form-label">Description</label>
            <InputTextArea @bind-Value="taskModel.Description" class="form-control" style="width:40%;"></InputTextArea>
            <ValidationMessage For="() => taskModel.Description" /><br /><br />
            <label for="Deadline" class="form-label">Deadline</label><br />
            <InputDate @bind-Value="taskModel.Deadline" style="width:40%;">@DateTime.UtcNow</InputDate> <br /><br /><br />
            <button class="form-control btn btn-success" type="button" @onclick="async () => await Register()" style="width:40%;">Add task</button>
        </div>

    </EditForm>
</center>


@code {
    public TaskModel taskModel = new TaskModel();

    private async Task Register()
    {
        var response = await client.PostAsJsonAsync("http://localhost:7701/api/Task", taskModel);

        if(response.StatusCode != System.Net.HttpStatusCode.Created)
        {
            
        }

        if (response.IsSuccessStatusCode)
        {
            navMn.NavigateTo("/tasks");
        }
    }

}
