@page "/tasks"
@inject NavigationManager nav
@inject HttpClient client
@using TaskBlazor.Entities

<PageTitle>Shops</PageTitle>
<h1 style="text-align:center;">Tasks</h1>
<button class="btn btn-secondary" @onclick="PutMe" style="text-align:end; text-decoration:dotted; text-decoration-color:revert; color:aqua;">Add new task</button>
<br />
<br />
@if (task == null)
{
    <center>
        <div class="spinner-grow text-primary" role="status" style="width:20rem;height:20rem;margin:5%;">
            <span class="visually-hidden" style="font-size:20%;">Loading...</span>
        </div>
    </center>
    <center>
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </center>
}
else
{
    <ul class="list-group list-group-flush">
        
            @foreach (var taskcha in task!)
            {
            <li class="list-group-item">
                <div class="row" style="display:flex; justify-content:center; width: 100%;">
                    <div class="col" style="width: 40%; display:flex; justify-content:left;">
                        <h5 style="text-align:left; left:0; text-decoration-style:dotted">@taskcha.Title</h5>
                    </div>
                    <div class="col" style="width: 20%">
                        <h6 style="text-align:center; color:gray; padding-top: 10px;">@taskcha.State</h6>
                    </div>
                    <div class="col" style="width: 30%; right:0; left:auto; display:flex; justify-content:right;">
                        <button @onclick="()=> GoToTask(taskcha.Id)" class="btn btn-primary" style="margin: 5px; height:35px;">Details</button>
                        <button @onclick="async ()=> await Delete(taskcha.Id)" class="btn btn-danger" style="margin: 5px; height:35px;">Delete</button>
                        <button @onclick="()=> Update(taskcha.Id)" class="btn btn-success" style="margin: 5px; height:35px;">Update</button>
                    </div>
                </div>
            </li>
            }
       
    </ul>
    
}

@code {
    public List<Entities.Task>? task = new List<Entities.Task>();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        task = await client.GetFromJsonAsync<List<Entities.Task>>("http://localhost:7701/api/Task");
    }

    void PutMe()
    {
        nav.NavigateTo("/add");
    }

    private void GoToTask(Guid id)
    {
        nav.NavigateTo($"/task/details/{id}");
    }


    private async System.Threading.Tasks.Task Delete(Guid id)
    {
        await client.DeleteAsync($"http://localhost:7701/api/Task/{id}");
        await OnInitializedAsync();
    }

    private void Update(Guid id)
    {
        nav.NavigateTo($"/update/{id}");
    }
}
