@page "/update/{Id:guid}"
@using TaskBlazor.Models
@inject NavigationManager Navigate
@inject HttpClient Client


<center>
    <h3>Update Task</h3>
</center>


<EditForm Model="taskModel">
    <hr />
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">
            Title
        </label>
        <div class="col-sm-10">
            <InputText id="title" class="form-control" placeholder="@task.Title"
            @bind-Value="taskModel.Title" />
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">
            Description
        </label>
        <div class="col-sm-10">
            <InputTextArea id="description" class="form-control" placeholder="@task.Description"
            @bind-Value="taskModel.Description" />
        </div>
    </div>
    <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">
            Deadline
        </label>
        <div class="col-sm-10">
            <InputDate id="date" class="form-control" placeholder="Deadline"
            @bind-Value="taskModel.Deadline" />
        </div>
    </div>
    <center>
        <button class="form-control btn btn-success" type="button" @onclick="async () => await Update()" style="width:40%;">Update</button>
    </center>
   
</EditForm>




@code {
    [Parameter]
    public Guid Id { get; set; }
    public List<Entities.Task>? tasks = new List<Entities.Task>();
    public Entities.Task? task = new Entities.Task();

    private TaskModel taskModel = new TaskModel();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        tasks = await Client.GetFromJsonAsync<List<Entities.Task>>("http://localhost:7701/api/Task");
        task = await Client.GetFromJsonAsync<Entities.Task>($"http://localhost:7701/api/Task/{Id}");
    }

    private async Task Update()
    {
        await Client.PutAsJsonAsync<TaskModel>($"http://localhost:7701/api/Task/{Id}", taskModel);
        Navigate.NavigateTo("/tasks");
    }
}
